:root{
    --BG-variant: #1E293B;
    --Text-Color: #F9FAFB;
    --Border-Color: #334155;
}

.lightmode{
    --BG-variant: #FFFFFF;
    --Text-Color: #111827;
    --Border-Color: #d3d3d3;
}


main{
    width: 96%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 140px auto 0;
}

main > div{
    background-color: var(--BG-variant);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 33vw;
    font-size: 1.5rem;
}

main > div img{
    width: 100%;
    height: clamp(200px 10vh 500px);
    object-fit: cover;
    display: block;
}

main > div p{
    padding: 0.3em 0.5em;
    line-height: 1.4;
}

