main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 95px);
    gap: 2rem;
    padding-top: 75px; /* To account for the fixed header */
}


iframe {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}