main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
    padding-top: 75px; /* To account for the fixed header */
}

.General_info, .FunFacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}