:root{
    --BG-Color: #0F172A;
    --BG-variant: #1E293B;
    --Text-Color: #F9FAFB;
    --Hover-Color: #334155;
    --Border-Color: #334155;
}

.lightmode{
    --BG-Color: #dfe6ee;
    --BG-variant: #FFFFFF;
    --Text-Color: #111827;
    --Hover-Color: #c5c5c5;
    --Border-Color: #E5E7EB;
}


body{
    background-color:var(--BG-Color);
}


.Text-style{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: var(--Text-Color);
    text-decoration: none;
}


.Nav{
    display: flex;
    flex-direction: row;
    background-color: var(--BG-variant);
    width: 100vw;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    height: 75px;
    border: solid 1px, var(--Border-Color);
    font-size: clamp(1rem, 1.5vw, 4rem);
}


.Item-Home{
    padding-left: 15px;
    padding-right: 15px;

}
.Item-Home:hover{
    background-color: var(--Hover-Color) ;
    border-radius: 10px;
}


.Item-Center{
    padding-left: 15px;
    padding-right: 15px;
}
.Item-Center:hover{
    background-color: var(--Hover-Color);
    border-radius: 10px;
}

.off-screen-menu{
    background-color: var(--BG-Color);
    height: 100vh;
    width: 100%;
    max-width: 400px;
    position: fixed;
    right: -450px;
    top: 76.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: .5s ease;
}

.off-screen-menu.active{
    right: 0px;
}

.ham-menu{
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
}

.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: var(--Text-Color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.ham-menu span:nth-child(1)  {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

#theme-switch{
    background-color: var(--BG-Color);
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;    
    cursor: pointer;
}

#theme-switch svg{
    margin-left: 20px;
    fill: var(--Text-Color);
}

#theme-switch::after{
    content: 'Theme Toggle';
    margin-left: 10px;
    color: var(--Text-Color);
}

#theme-switch svg:first-child{
    display: none;
}
