body{
    background-color: #0F172A;
}


.Text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #F9FAFB;
    text-decoration: none;
}


.Nav{
    display: flex;
    flex-direction: row;
    background-color: #1E293B;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    height: 75px;
}


.Item-Home{
    display: flex;
    margin-right: 5rem;
    padding-left: 15px;
    padding-right: 15px;
}
.Item-Home:hover{
    background-color: #334155 ;
    border-radius: 10px;
}


.Item-Center{
    display: flex;
    margin-left: 1rem;
    padding-left: 15px;
    padding-right: 15px;
}
.Item-Center:hover{
    background-color: #334155;
    border-radius: 10px;
}