/*Variable colors that i can change*/
:root{
    --BG-variant: #1E293B;
    --Border-Color: #334155;
}
/*same variabls but are active if the theme gets changed*/
.lightmode{
    --BG-variant: #FFFFFF;
    --Border-Color: #d3d3d3;
}
body{
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    min-height: calc(100vh - 120px);
    position: relative;
    z-index: 1;
    margin-top: 90px;
    width: 50vw;
    overflow: hidden;

}
.history-image1 img{
    width: 100%;
    height: clamp(300px 5vh 900px);      
    object-fit: cover;  
    border-radius: 10px;
    display: block;
}
.history1, .history2{
    background: var(--BG-variant); 
    padding: 1.25rem;
    border-radius: 10px;
    line-height: 1.5;
    border-color: var(--Border-Color);
    border: solid 1px;
    font-size: 1.5rem;
}
