body {
    overflow: hidden;
}


.BGvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .BGvideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .BGvideo{
        width: auto;
        height: 100%;
    }
}

.Welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: xx-large;
}

#Welcome-Text{
    background-color: #1E293B;
    color: #F9FAFB;
}