:root{
    --Text-Over-Picture: #F9FAFB;
    --BG-Text-Over-Picture: #1e293b;
}

.lightmode{
    --Text-Over-Picture: #111827;
    --BG-Text-Over-Picture: #dfe6ee;
}


main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 1400px;
    margin: 80px auto auto auto;
    min-height: calc(100vh - 180px);
}

main > div {
    flex: 1 1 250px;
    min-width: 200px;
    max-width: 500px;
    height: 350px;
    border: solid 2px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}


.zoom-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease ;
}


.Item-Flex1:hover .zoom-image{
    transform: scale(1.2);
}
.Item-Flex2:hover .zoom-image{
    transform: scale(1.2);
}
.Item-Flex3:hover .zoom-image{
    transform: scale(1.2);
}

.align-text{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.Text_over_picture{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: var(--Text-Over-Picture);
    background-color: var(--BG-Text-Over-Picture);
    font-size: clamp(1rem, 2.5vw, 4rem);
    padding: 0.5rem;
    border-radius: 10px;
}

