body{
    background-color: rgba(0, 0, 0, 0.5);
}
.Nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    height: 75px;
}
.Item-Home{
    display: flex;
    margin-right: 5rem;
    padding-left: 15px;
    padding-right: 15px;
}
.Item-Home:hover{
    background-color: rgba(8, 8, 8, 0.75) ;
    border-radius: 10px;
}




.Item-Center{
    display: flex;
    margin-left: 1rem;
    padding-left: 15px;
    padding-right: 15px;
}
.Item-Center:hover{
    background-color: rgba(8, 8, 8, 0.75);
    border-radius: 10px;
}

.Text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.Main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 50px;
    padding-top: 150px;
}

.Main > div {
    border-radius: 10px;
    height: max(200px, 50vh, 300px);
    width: max(200px, 33vw, 500px);
    position: relative;
}
.FullBoxLink {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Item-Flex1{
    background-image: url(../Bilder/israel-albornoz-X_yiZP3NTkE-unsplash.jpg);
    background-size: cover;      /* Makes the image cover the box */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;/* Prevents tiling */
}
.Item-Flex1:hover{
    transition: 0.4s;
    transform: scale(1.05);
}

.Text_over_picture{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.Item-Flex2{
    background-image: url(../Bilder/3x2_westernstyle_couple_03_2399x1600.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Item-Flex2:hover{
    transition: 0.4s;
    transform: scale(1.05);
}

.Item-Flex3{
    background-image: url(../Bilder/bullock-museum-austin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Item-Flex3:hover{
    transition: 0.4s;
    transform: scale(1.05);
}
