.Nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    height: 75px;
}
.Item-Home{
    display: flex;
    margin-right: 5rem;
    padding-left: 15px;
    padding-right: 15px;
}
.Item-Home:hover{
    background-color: rgba(8, 8, 8, 0.75) ;
    border-radius: 10px;
}




.Item-Center{
    display: flex;
    margin-left: 1rem;
    padding-left: 15px;
    padding-right: 15px;
}
.Item-Center:hover{
    background-color: rgba(8, 8, 8, 0.75);
    border-radius: 10px;
}

.Text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
