body{
    background-color: black;
}


.card{
    margin: 25vh auto;
    width: 300px;
    padding: 2em;
    background-color: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    color: white;
    position: relative;
}



.card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 10px;
    padding: 3px;
}